<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css' )}}">
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
</head>
<body>
    <h1>餐饮点评评论挖掘</h1>
    <form action="comment">
        <p>
            <label for="foodComment">请输入评论内容:</label>
            <textarea id="foodComment" name="foodComment" cols="40" rows="5" align="left"></textarea>
        </p>
        <input type="submit" name="">
    </form>
<div class="container">
<table style="width: 1000px;" class="table table-striped table-hover table-bordered">
    <thead>
    <th>项目</th>
    <th>标签</th>
    </thead>
    <tbody>
      <meta charset="UTF-8">
      {% for item in comment_class %}
        <tr>
            <td style="width: 200px;">{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>
